.hidden-block {
	opacity:0;
}

.visible-block {
	opacity:1;
}

#p_prldr {
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background: #F8F8FF;
	z-index: 300;
}

.contpre small {
	font-size:25px;
}

.contpre {
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;top: 48%;
	margin-left:-125px;
	margin-top:-75px;
	color:#696969;
	font-size:40px;
	letter-spacing:-2px;
	text-align:center;
	line-height:35px;
}

#p_prldr .svg_anm {
	position: absolute;
	width: 41px;
	height: 41px;
	background: url(../img/oval.svg) center center no-repeat;
	background-size:41px;    
	margin: -16px 0 0 -16px;
}