<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

        <div id="form-container">

            <div class="page-header text-center">
                <h2>Angular Multi Step Form</h2>

                <!-- the links to our nested states using relative paths -->
                <!-- add the active class if the state matches our ui-sref -->
                <div ng-if="formData.amount !== undefined && formData.id !== undefined &&
                formData.name !== undefined && formData.surname !== undefined &&
                formData.cityUKR !== undefined && myForm.$valid">
                    <div id="status-buttons" class="text-center">
                        <a ui-sref-active="active" ui-sref=".numbers"><span>1</span> Numbers</a>
                        <a ui-sref-active="active" ui-sref=".profile"><span>2</span> Profile</a>
                        <a ui-sref-active="active" ui-sref=".resume"><span>3</span> Resume</a>
                    </div>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->
            <form id="signup-form" name="myForm" ng-submit="processForm()">
                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </form>

        </div>

        <!-- show our formData as it is being typed -->
        <pre>
    {{ formData | json }}
  </pre>

    </div>
</div>

