body {
	
 width: 100%;
 height: 100%;
 color:#333;
 background: #ffffff no-repeat;
 font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:0.94em;
 line-height:135%;
 
 
}




.img-responsive {
	
	height: 470px;
	width: 410px;
	border: 2px solid #ffffff;
	box-shadow: 0 0 30px #8B6969;
	   	
}