@media (max-width: 900px) {
  nav {
    float: none;
    height: auto;
    width: 100%;
  }

  h1.main {
    padding: 0 2%;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 30%;
    vertical-align: middle;
  }

  a.overview {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 10px 15px;
  }

  a.github-link {
    display: inline-block;
    width: 20%;
    margin: 0;
    text-align: center;
    padding: 10px 15px;
  }

  .sections {
    width: 100%;
  }

  textarea {
    width: 70%;
  }
}

@media (max-width: 690px) {
  .col-left {
    float: none;
    width: 100%;
    margin: 0;
    min-height: 240px;
  }
  .col-right {
    float: none;
    margin: 0;
    width: 100%;
    min-height: 240px;
  }

  .total-items {
    margin-top: 5%;
  }

  h1.main {
    margin-right: 10%;
  }

  a.overview, a.github-link {
    padding: 10px 4px;
    width: 30%;
  }
}