<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AngularJS Local Storage Application</title>
  <script src="https://code.angularjs.org/1.2.20/angular.js"></script>
  <script src="node_modules/angular-http-server/angular-http-server.js"></script>
  <script src="node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="script/app.js"></script>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=cyrillic,latin">
</head>

<body ng-app="Items">

<nav>
  <h1 class="main">Main</h1>
  <a href="" class="overview">Overview</a>
  <a href="https://github.com/AnatoliiKozanbaiev/angular_js_local_storage_app" class="github-link">View on Github</a>
</nav>

<div class="sections" ng-controller="ItemsController">

  <section class="col-left">
    <h1 class="app-title">{{ appTitle }}</h1>

    <form name="frm">
      <input type="text" name="itm" ng-model="itm" placeholder="Type name here..." required>
      <button class="btn" ng-click="addItem()" ng-disabled="frm.$invalid">Add new</button>
    </form>

    <table id="tableItemElem" cellpadding="10" style="border-collapse: collapse;">
      <tbody>
      <tr class="dividing-line" ng-repeat="item in items">
        <td class="itemName" ng-click="checkCurrentItem(item, $index)">
          {{ item.itm }}
        </td>
        <td class="for-btn-delete">
          <button class="btn-delete" ng-click="deleteItem(item, $index)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>


    <div class="total-items">Total Items : {{count}}</div>

  </section>


  <section class="col-right">
    <h1 class="app-headline">{{ appHeadline }}{{checkedComment}}</h1>
    <form id="trigger-button">
      <div class="individual-comment" ng-repeat="i in showComments track by $index" ng-click="checkCurrentComment(i, $index)">
        <button class="btn-unchecked-comment"></button>
        <p class="comment-text">
          {{ i }}
        </p>
        <hr>
      </div>

      <div class="bind-textarea">
        <button class="btn-send-comment" ng-click="addComment()" ng-disabled="!comment.length"></button>
        <textarea wrap="off" cols="30" rows="3" type="text" name="comment" ng-model="comment"></textarea>
      </div>
    </form>
  </section>

</div>


</body>
</html>