<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AngularJS Local Storage Application</title>
  <script src="https://code.angularjs.org/1.2.20/angular.js"></script>
  <script src="node_modules/angular-http-server/angular-http-server.js"></script>
  <script src="node_modules/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="script/app.js"></script>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=cyrillic,latin">
</head>

<body ng-app="Items">

<nav>
  <h1>Main</h1>
  <ul>
    <li>Overview</li>
  </ul>
</nav>

<div class="sections" ng-controller="ItemsController">

  <section class="col-left">
    <h1 class="app-title">{{ appTitle }}</h1>

    <input type="text" name="itm" ng-model="itm" placeholder="Type name here..." required>
    <button class="btn" ng-click="addItem()" ng-disabled="!itm.length">Add new</button>

    <table id="tableItemElem" cellpadding="10" style="border-collapse: collapse;">
      <tbody>
      <tr ng-repeat="item in items" style="border-bottom: solid 1px lightgray;">
        <td class="itemName" ng-click="checkCurrentItem(item, $index)">
          {{ item.itm }}
        </td>
        <td>
          {{ commentsLength }}
        </td>

        <td>
          <button class="btn-delete" ng-click="deleteItem(item, $index)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>


    <div>Total Items : {{count}}</div>

  </section>


  <section class="col-right">
    <h1 class="app-headline">{{ appHeadline }}</h1>
    <form>
      <div ng-repeat="i in showComments track by $index">

        <p>
          {{ i }}
        </p>
        <hr>

      </div>

      <input type="text" name="comment" ng-model="comment" placeholder="Comment">
      <button ng-click="addComment()" ng-disabled="!comment.length" hidden>Add new</button>
    </form>
  </section>

</div>


</body>
</html>