<div class="panel panel-primary">
    <div class="panel-heading">Колоночная директива</div>

    <table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Расположение</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="employee in info">
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.location }}</td>
        </tr>
        </tbody>
    </table>
</div>